<div class="header2">
Административнвя панель
</div>

<div class="main2">



<table>

  <tr>

    <td style="text-align: left;">

      <%= render :partial => '/layouts/side.html.erb' %>

    </td>


    <td style="vertical-align: top;">

<h1>Фотогалерея "Общестроительные работы"</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @builds.each do |build| %>
  <tr>
    <td><%= image_tag(build.image_url.to_s, :width => 100) %></td>
   
    <td style="padding-left:25px;"><%= button_to 'Удалить', build, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'ДОБАВИТЬ ФОТОГРАФИЮ', new_build_path %></h3>


 </td>

  </tr>

</table>

  </div>