
<div class="main2">

  <table>

  <tr>

    <td style="text-align: left;">

      <%= render :partial => '/layouts/side.html.erb' %>

    </td>


    <td style="vertical-align: top;">


    <h1>Редактирование статей</h1>

<%= render 'form' %>

</td>

  </tr>

</table>


</div>