<div class="header2">
Административнвя панель
</div>

<div class="main2">

  <p><h1>Добавление фотографии в галерею "Окна"</h1></p>

<%= render 'form' %>

<h3><%= link_to 'Назад к списоку фотографий', wins_path %></h3>

</div>