<div class="header2">
Административнвя панель
</div>

<div class="main2">

  <p> <h1>Добавление фотографии в галерею "О фирме"</h1> </p>

<%= render 'form' %>

<h3><%= link_to 'Назад к списоку фотографий', {:controller => 'abouts', :action => 'index'} %></h3>


</div>