<div class="header2">
Административнвя панель
</div>

<div class="main2">

<h1>Добавление фотографии в галерею "Виды деятельности"</h1>

<%= render 'form' %>

<h3><%= link_to 'Назад к списоку фотографий', acts_path %></h3>

</div>
